<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameplat.admin.dao.MemberTreeMapper">
  <insert id="insertPath">
    INSERT INTO member_tree(ancestor, descendant, distance)
      (SELECT ancestor, #{id}, distance + 1 FROM member_tree WHERE descendant = #{parent})
  </insert>

  <insert id="insertNode">
    INSERT INTO member_tree(ancestor, descendant, distance)
    VALUES (#{id}, #{id}, 0)
  </insert>

  <delete id="deletePath">
    DELETE
    FROM member_tree
    WHERE descendant = #{id}
  </delete>

  <select id="selectDescendantId">
    SELECT descendant
    FROM member_tree
    WHERE ancestor = #{id}
      AND distance > 0
  </select>

  <select id="selectAncestor" resultType="java.lang.Long">
    SELECT ancestor
    FROM member_tree
    WHERE descendant = #{id}
      AND distance = #{n}
  </select>

  <select id="selectSubId">
    SELECT descendant
    FROM member_tree
    WHERE ancestor = #{parent}
      AND distance = 1
  </select>

  <select id="selectDistance" resultType="java.lang.Integer">
    SELECT distance
    FROM member_tree
    WHERE descendant = #{id}
      AND ancestor = #{ancestor}
  </select>
</mapper>