<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameplat.admin.mapper.ActivityPrizeMapper">


    <select id="findActivityPrizeList" resultType="com.gameplat.admin.model.vo.MemberActivityPrizeVO">
        SELECT a.id id,a.prize_chance prizeChance,a.prize_repertory prizeRepertory,a.give_amount giveAmount,p.prize_id prizeId,
        p.prize_type prizeType, p.prize_level prizeLevel, p.prize_icon prizeIcon,p.prize_name prizeName,p.ticket_yard ticketYard
        FROM member_prize p
        LEFT JOIN activity_prize a
        ON p.prize_id=a.activity_prize_id
        WHERE p.`status`=1
        <if test="type != null">
            and a.`type` = #{type}
        </if>
        <if test="type != null">
            and a.`activity_id` = #{activityId}
        </if>
        <if test="isGroup != null">
            and a.`is_group` = #{isGroup}
        </if>
        <if test="groupId != null">
            and a.`group_id` = #{groupId}
        </if>
    </select>


</mapper>
