<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameplat.admin.mapper.FinancialMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gameplat.admin.model.domain.Financial">
        <id column="financial_id" property="financialId"/>
        <result column="flow_no" property="flowNo"/>
        <result column="username" property="username"/>
        <result column="user_id" property="userId"/>
        <result column="source_type" property="sourceType"/>
        <result column="source_id" property="sourceId"/>
        <result column="state" property="state"/>
        <result column="mode" property="mode"/>
        <result column="bankNo" property="bankNo"/>
        <result column="bankName" property="bankName"/>
        <result column="currency_name" property="currencyName"/>
        <result column="currency_type" property="currencyType"/>
        <result column="amount" property="amount"/>
        <result column="dis_amount" property="disAmount"/>
        <result column="amount_cny" property="amountCny" />
        <result column="remark" property="remark"/>
        <result column="ip_address" property="ipAddress"/>
        <result column="is_less" property="isLess"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="counter_fee" property="counterFee" />
        <result column="rate" property="rate"/>
        <result column="recharge_num" property="rechargeNum"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
		financial_id, flow_no, username, user_id, source_type, source_id,
		'state', mode, bankNo, bankName, currency_name, currency_type,
		amount, dis_amount, amount_cny, remark,
		ip_address, is_less, create_time, create_by, update_time,update_by,counter_fee, rate, recharge_num
	</sql>

    <insert id="saveFinancial">
        insert into financial
        (flow_no, username, user_id, source_type, source_id,state, mode,
        currency_name,currency_type, amount, dis_amount, bankNo, bankName,
        <if test="amountCny != null">amount_cny,</if>
        remark,ip_address, is_less,
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="updateTime != null"> update_time, </if>
        <if test="updateBy != null and updateBy != ''"> update_by, </if>
        <if test="rate != null">rate,</if>
        <if test="rechargeNum !=null">recharge_num,</if>
        create_time
        )
        values
        (#{flowNo},#{username},#{userId},#{sourceType},#{sourceId},#{state},#{mode},
        #{currencyName},#{currencyType},#{amount},#{disAmount},#{bankNo},#{bankName},
        <if test="amountCny != null">#{amountCny},</if>

        #{remark},#{ipAddress},#{isLess},

        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="updateTime != null">
            #{updateTime},
        </if>
        <if test="updateBy != null and updateBy != ''">
            #{updateBy},
        </if>
        <if test="rate !=null">#{rate},</if>
        <if test="rechargeNum !=null">#{rechargeNum},</if>
        #{createTime}
        )
    </insert>

    <select id="getWithdrawtRanslateAmount" parameterType="long" resultType="Map">
        SELECT
                IFNULL(sum(amount),0) amount, count(user_id) num
        FROM
                financial
        WHERE
                date_format(create_time, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
          AND user_id = #{userId}
          AND source_type = 2
          AND state not in (0,4)
    </select>
</mapper>
