<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameplat.admin.mapper.GameRebateDataMapper">

  <resultMap id="liveRebateDataVO" type="com.gameplat.admin.model.vo.GameRebateDataVO">
    <result property="id" column="id"/>
    <result property="memberId" column="member_id"/>
    <result property="account" column="account"/>
    <result property="realName" column="real_name"/>
    <result property="userPaths" column="user_paths"/>
    <result property="platformCode" column="platform_code"/>
    <result property="gameKind" column="game_kind"/>
    <result property="statTime" column="stat_time"/>
    <result property="createTime" column="create_time"/>
    <result property="betAmount" column="bet_amount"/>
    <result property="validAmount" column="valid_amount"/>
    <result property="winAmount" column="win_amount"/>
    <result property="betCount" column="bet_count"/>
    <result property="winCount" column="win_count"/>
    <result property="gameType" column="game_type"/>
    <result property="name" column="name"/>
  </resultMap>

  <select id="queryGameReport" resultType="com.gameplat.admin.model.vo.GameReportVO"
    parameterType="com.gameplat.admin.model.dto.GameRebateDataQueryDTO">
    SELECT s1.betAmount,
    s1.validAmount,
    s1.gameCount,
    s1.winAmount,
    s1.userNumber,
    s1.platform_code platformCode,
    IF(s2.rebateMoney is null,0,s2.rebateMoney) rebateMoney,
    s1.winAmount-IF(s2.rebateMoney is null,0,s2.rebateMoney)
    companyAmount from (
    SELECT
    sum(dr.bet_amount) betAmount,
    sum(dr.valid_amount) validAmount,
    sum(dr.bet_count) gameCount,
    sum(dr.win_amount) winAmount,
    count(DISTINCT dr.account) userNumber,
    dr.platform_code
    FROM
    game_rebate_data dr where 1=1
    <if test="beginTime != null">
      <![CDATA[
         and dr.stat_time >= #{beginTime}
       ]]>
    </if>
    <if test="endTime != null">
      <![CDATA[
         and dr.stat_time <= #{endTime}
       ]]>
    </if>
    <if test="userPaths != null and userPaths != ''">
      and dr.user_paths like #{userPaths}
    </if>
    <if test="account != null and account != ''">
      and dr.account like #{account}
    </if>
    GROUP BY dr.platform_code) s1 left Join (
    SELECT
    sum(rr.real_rebate_money) rebateMoney,
    rr.platform_code
    FROM
    game_rebate_report rr where 1=1
    <if test="beginTime != null">
      <![CDATA[
         and rr.stat_time >= #{beginTime}
      ]]>
    </if>
    <if test="endTime != null">
      <![CDATA[
         and rr.stat_time <= #{endTime}
      ]]>
    </if>
    <if test="userPaths != null and userPaths != ''">
      and rr.user_paths like #{userPaths}
    </if>
    <if test="account != null and account != ''">
      and rr.account like #{account}
    </if>
    GROUP BY rr.platform_code) s2 on s1.platform_code=s2.platform_code
  </select>
</mapper>
