<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameplat.admin.mapper.LiveBetRecordMapper">


    <select id="queryGameBetRecords" resultType="com.gameplat.admin.model.domain.LiveBetRecord">
        select
        gb.bill_no as billNo,
        gb.account as userName,
        gb.first_kind as firstKind,
        gb.win_amount as winAmount,
        gb.bet_amount as betAmount,
        gb.valid_amount as validAmount,
        gb.bet_content as betContent,
        gb.bet_time as betTime,
        gb.game_name as gameName
        FROM game_${gameCode}_bet_record gb
        WHERE gb.bet_time like concat(#{bonusDate},'%')
        AND gb.settle = 1
        <if test="username != null and username !=''">
            and gb.account = #{username}
        </if>
        <if test="gameType != null and gameType !=''">
            and gb.game_type = #{gameType}
        </if>
        <if test="userNameList != null and userNameList.size > 0">
            and gb.account in
            <foreach collection="userNameList" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        order by gb.bet_time desc
    </select>
</mapper>