<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameplat.admin.mapper.MemberGrowthLevelMapper">

	<resultMap type="com.gameplat.model.entity.member.MemberGrowthLevel" id="memberGrowthLevelResult">
        <result property="id" column="id"/>
        <result property="level" column="level"/>
        <result property="levelName" column="level_name"/>
        <result property="growth" column="growth"/>
        <result property="limitGrowth" column="limit_growth"/>
        <result property="upReward" column="up_reward"/>
        <result property="weekWage" column="week_wage"/>
        <result property="monthWage" column="month_wage"/>
        <result property="birthGiftMoney" column="birth_gift_money"/>
        <result property="redEnvelope" column="red_envelope"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateBy" column="update_by"/>
        <result property="remark" column="remark"/>
        <result property="mobileVipImage" column="mobile_vip_image"/>
        <result property="webVipImage" column="web_vip_image"/>
        <result property="mobileReachBackImage" column="mobile_reach_back_image"/>
        <result property="mobileUnreachBackImage" column="mobile_unreach_back_image"/>
        <result property="mobileReachVipImage" column="mobile_reach_vip_image"/>
        <result property="mobileUnreachVipImage" column="mobile_unreach_vip_image"/>
        <result property="webReachVipImage" column="web_reach_vip_image"/>
        <result property="webUnreachVipImage" column="web_unreach_vip_image"/>
        <result property="coinRatio" column="coin_ratio"/>
        <result property="max_Coin" column="max_coin"/>
        <result property="dailyMaxCoin" column="daily_max_coin"/>
        <result property="loanMoney" column="loan_money"/>
    </resultMap>

    <sql id="base_column">
        id,
        `level`,
        JSON_UNQUOTE(json_extract(level_name, concat('$.',concat('"',concat(#{language},'"'))))) as level_name,
        growth,
        limit_growth,
        up_reward,
        week_wage,
        month_wage,
        birth_gift_money,
        red_envelope,
        create_by,
        create_time,
        update_by,
        update_time,
        remark,
        mobile_vip_image,
        web_vip_image,
        mobile_reach_back_image,
        mobile_unreach_back_image,
        mobile_reach_vip_image,
        mobile_unreach_vip_image,
        web_reach_vip_image,
        web_unreach_vip_image,
        coin_ratio,
        max_coin,
        daily_max_coin,
        loan_money
    </sql>

    <select id="findList" resultMap="memberGrowthLevelResult">
        select <include refid="base_column"/> from member_growth_level order by `level` asc
        <if test="limitLevel != null">limit #{limitLevel}</if>
    </select>


    <select id="findLevelName" parameterType="integer" resultType="string">
        select level_name from member_growth_level where `level` = #{level}
    </select>

    <!--  配置没有改  批量修改不了  -->
    <update id="batchUpdateLevel">
        <if test="list != null">
            <foreach collection="list" item="item" index="index" separator=";">
                update member_growth_level
                <set>
                    <if test="item.level != null">`level` = #{item.level},</if>
                    <if test="item.levelName != null and item.levelName != ''">level_name = #{item.levelName},</if>
                    <if test="item.growth != null">growth = #{item.growth},</if>
                    <if test="item.limitGrowth != null">limit_growth = #{item.limitGrowth},</if>
                    <if test="item.upReward != null">up_reward = #{item.upReward},</if>
                    <if test="item.weekWage != null">week_wage = #{item.weekWage},</if>
                    <if test="item.monthWage != null">month_wage = #{item.monthWage},</if>
                    <if test="item.birthGiftMoney != null">birth_gift_money = #{item.birthGiftMoney},</if>
                    <if test="item.redEnvelope != null">red_envelope = #{item.redEnvelope},</if>
                    <if test="item.updateBy != null and item.updateBy != ''">update_by = #{item.updateBy},</if>
                    <if test="item.dailyMaxCoin != null">daily_max_coin = #{item.dailyMaxCoin},</if>
                    <if test="item.loanMoney != null and item.loanMoney != ''">loan_money = #{item.loanMoney},</if>
<!--                    <if test="item.mobileVipImage != null and item.mobileVipImage != ''">mobile_vip_image = #{item.mobileVipImage},</if>-->
<!--                    <if test="item.webVipImage != null and item.webVipImage != ''">web_vip_image = #{item.webVipImage},</if>-->
<!--                    <if test="item.mobileReachBackImage != null and item.mobileReachBackImage != ''">mobile_reach_back_image = #{item.mobileReachBackImage},</if>-->
<!--                    <if test="item.mobileUnreachBackImage != null and item.mobileUnreachBackImage != ''">mobile_unreach_back_image = #{item.mobileUnreachBackImage},</if>-->
<!--                    <if test="item.mobileReachVipImage != null and item.mobileReachVipImage != ''">mobile_reach_vip_image = #{item.mobileReachVipImage},</if>-->
<!--                    <if test="item.mobileUnreachVipImage != null and item.mobileUnreachVipImage != ''">mobile_unreach_vip_image = #{item.mobileUnreachVipImage},</if>-->
<!--                    <if test="item.webReachVipImage != null and item.webReachVipImage != ''">web_reach_vip_image = #{item.webReachVipImage},</if>-->
<!--                    <if test="item.webUnreachVipImage != null and item.webUnreachVipImage != ''">web_unreach_vip_image = #{item.webUnreachVipImage},</if>-->
                    update_time = now()
                </set>
                where id = #{item.id}
            </foreach>
        </if>
    </update>

</mapper>
