<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameplat.admin.mapper.MemberDayReportMapper">

	<!--获取达到有效投注金额的会员账号-->
	<select id="getSatisfyBetAccount" resultType="java.lang.String">
		SELECT
		t.userName
		FROM
		(
		SELECT
		user_name userName,
		sum( valid_amount ) validAmount
		FROM member_day_report
		<where>
			<if test="startTime != null and startTime != ''">
				AND count_date &gt;= #{startTime}
			</if>
			<if test="endTime != null and endTime != ''">
				AND count_date &lt;= #{endTime}
			</if>
		</where>
		GROUP BY user_id, user_name ) t
		WHERE validAmount >= #{minBetAmount}
	</select>
</mapper>
