<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameplat.admin.mapper.MemberTreeMapper">
    <insert id="add">
        INSERT INTO member_tree(ancestor, descendant, distance)
            (SELECT ancestor, #{id}, distance + 1 FROM member_tree WHERE descendant = #{ancestor})
    </insert>

    <insert id="addNode">
        INSERT INTO member_tree(ancestor, descendant, distance)
        VALUES (#{id}, #{id}, 0)
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE
        FROM member_tree
        WHERE descendant = #{id}
    </delete>

    <select id="getAllDescendant" parameterType="java.lang.Long" resultType="MemberTree">
        SELECT ancestor,descendant,distance
        FROM member_tree
        WHERE ancestor = #{id}
    </select>

    <select id="getAnyAncestor" resultType="MemberTree">
        SELECT ancestor,descendant,distance
        FROM member_tree
        WHERE descendant = #{id}
          AND distance = #{n}
    </select>

    <select id="getAllAncestor" parameterType="java.lang.Long" resultType="MemberTree">
        SELECT ancestor,descendant,distance
        FROM member_tree
        WHERE descendant = #{id}
    </select>

    <select id="getDescendant" resultType="MemberTree">
        SELECT ancestor,descendant,distance
        FROM member_tree
        WHERE ancestor = #{ancestor}
          AND distance = 1
    </select>

    <select id="getDistance" resultType="java.lang.Integer">
        SELECT distance
        FROM member_tree
        WHERE descendant = #{id}
          AND ancestor = #{ancestor}
    </select>
</mapper>
