<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameplat.admin.mapper.MemberInfoMapper">

    <select id="findIp" parameterType="com.gameplat.admin.model.dto.QueryIpStatReportDTO"
            resultType="com.gameplat.admin.model.vo.IpStatisticsVO">
        select
        last_login_ip as loginIp,
        count(1) as frequency
        from member_info
        where 1=1
        <if test="ip != null">
            and last_login_ip = #{ip}
        </if>
        <if test="beginDate != null and beginDate != ''">
            and date_format(last_login_time,'%y%m%d') <![CDATA[ >= ]]> date_format(#{beginDate},'%y%m%d')
        </if>
        <if test="endDate != null and endDate != ''">
            and date_format(last_login_time,'%y%m%d') <![CDATA[ <= ]]> date_format(#{endDate},'%y%m%d')
        </if>
        group by last_login_ip
        <if test="count != null and count != ''">
            having count(1) >= #{count}
        </if>
        ORDER BY last_login_time desc
    </select>



    <update id="updateClearGTMember">
      UPDATE member_info fo,member m
      SET fo.balance = 0
      WHERE
          fo.member_id = m.id
          and m.user_type = 'P'
        <if test="userNameList != null and userNameList.size > 0">
            and m.account in
            <foreach collection="userNameList" index="index" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
    </update>

    <select id="getTest" resultType="com.gameplat.admin.model.vo.TestVO">
        SELECT
            a.user_id memberId,
            a.user_name account,
            a.change_growth changes,
            a.type,
            b.vip_level vip,
            b.vip_growth growth
        FROM
            member_growth_record a LEFT JOIN member_info b on b.member_id = a.user_id
        WHERE 1=1
        <if test="type != null">
            and a.type = #{type}
        </if>
        <if test="memberId != null">
          and a.user_id = #{memberId}
        </if>
        <if test="remark != null">
          and a.remark = #{remark}
        </if>
    </select>

    <select id="getTest1" resultType="com.gameplat.admin.model.vo.TestVO">
        SELECT
        a.user_id memberId,
        a.user_name account,
        a.change_growth changes,
        a.type,
        b.vip_level vip,
        b.vip_growth growth
        FROM
        member_growth_record a LEFT JOIN member_info b on b.member_id = a.user_id
        WHERE
        a.type = 3
        and a.user_id = #{memberId}
        and a.remark != "未达到保底系统降级"
    </select>
</mapper>
