<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameplat.admin.mapper.MemberYubaoInterestMapper">

    <update id="addYubaoInterest">
       update member_yu_bao set money = money + #{money} where id=#{yubaoId};

       update member_info set yubao_amount=yubao_amount+#{money},yubao_time=now() where member_id=#{memberId};
    </update>

    <select id="isSettleInterest" resultType="java.lang.Boolean">
        select count(1)>0 from member_yu_bao_interest where member_id=#{memberId} and (date between #{settleDate} and #{endDate})
    </select>
</mapper>
