<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameplat.admin.mapper.GameMemberReportMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gameplat.admin.model.domain.MemberDayReport">
        <id column="count_date" property="countDate"/>
        <result column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="parent_id" property="parentId"/>
        <result column="parent_name" property="parentName"/>
        <result column="user_type" property="userType"/>
        <result column="vip_level" property="vipLevel"/>
        <result column="user_level" property="userLevel"/>
        <result column="agent_path" property="agentPath"/>
        <result column="recharge_count" property="rechargeCount"/>
        <result column="recharge_amount" property="rechargeAmount"/>
        <result column="discount_amount" property="discountAmount"/>
        <result column="jackpot_amount" property="jackpotAmount"/>
        <result column="withdraw_count" property="withdrawCount"/>
        <result column="withdraw_amount" property="withdrawAmount"/>
        <result column="fee_amount" property="feeAmount"/>
        <result column="bet_amount" property="betAmount"/>
        <result column="valid_amount" property="validAmount"/>
        <result column="win_amount" property="winAmount"/>
        <result column="water_amount" property="waterAmount"/>
        <result column="first_recharge_amount" property="firstRechargeAmount"/>
        <result column="first_withdraw_amount" property="firstWithdrawAmount"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="abnormal_income" property="abnormalIncome"/>
        <result column="abnormal_outcome" property="abnormalOutcome"/>
        <result column="lottery_order_count" property="lotteryOrderCount"/>
        <result column="sport_order_count" property="sportOrderCount"/>
        <result column="real_order_count" property="realOrderCount"/>
        <result column="lottery_win_order_count" property="lotteryWinOrderCount"/>
        <result column="sport_win_order_count" property="sportWinOrderCount"/>
        <result column="real_win_order_count" property="realWinOrderCount"/>
        <result column="lottery_valid_amount" property="lotteryValidAmount"/>
        <result column="sport_valid_amount" property="sportValidAmount"/>
        <result column="real_valid_amount" property="realValidAmount"/>
        <result column="lottery_win_amount" property="lotteryWinAmount"/>
        <result column="sport_win_amount" property="sportWinAmount"/>
        <result column="real_win_amount" property="realWinAmount"/>
        <result column="lottery_water_amount" property="lotteryWaterAmount"/>
        <result column="sport_water_amount" property="sportWaterAmount"/>
        <result column="real_water_amount" property="realWaterAmount"/>
        <result column="lottery_profit_rate" property="lotteryProfitRate"/>
        <result column="sport_profit_rate" property="sportProfitRate"/>
        <result column="real_profit_rate" property="realProfitRate"/>
        <result column="lottery_win_rate" property="lotteryWinRate"/>
        <result column="sport_win_rate" property="sportWinRate"/>
        <result column="real_win_rate" property="realWinRate"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        `count_date`, `user_id`, `user_name`, `parent_id`, `parent_name`, `user_type`, `vip_level`, `user_level`, `agent_path`, `recharge_count`,          `recharge_amount`, `discount_amount`, `jackpot_amount`, `withdraw_count`, `withdraw_amount`, `fee_amount`, `bet_amount`, `valid_amount`,          `win_amount`, `water_amount`, `first_recharge_amount`, `first_withdraw_amount`, `create_time`, `update_time`, `abnormal_income`,                  `abnormal_outcome`, `lottery_order_count`, `sport_order_count`, `real_order_count`, `lottery_win_order_count`, `sport_win_order_count`,           `real_win_order_count`, `lottery_valid_amount`, `sport_valid_amount`, `real_valid_amount`, `lottery_win_amount`, `sport_win_amount`,              `real_win_amount`, `lottery_water_amount`, `sport_water_amount`, `real_water_amount`, `lottery_profit_rate`, `sport_profit_rate`,                 `real_profit_rate`, `lottery_win_rate`, `sport_win_rate`, `real_win_rate`
	</sql>


    <select id="findMemberDayReportPage" resultMap="BaseResultMap">
      SELECT
        user_name,
        parent_name,
        vip_level,
        user_level,
        sum( recharge_count ) recharge_count,
        sum( recharge_amount ) recharge_amount,
        sum( first_recharge_amount ) first_recharge_amount,
        sum( discount_amount ) discount_amount,
        sum( jackpot_amount ) jackpot_amount,
        sum( withdraw_count ) withdraw_count,
        sum( withdraw_amount ) withdraw_amount,
        sum( first_withdraw_amount ) first_withdraw_amount,
        sum( fee_amount ) fee_amount,
        sum( bet_amount ) bet_amount,
        sum( valid_amount ) valid_amount,
        sum( win_amount ) win_amount,
        sum( water_amount ) water_amount
      FROM
        member_day_report
        WHERE 1= 1
        <if test="dto.userName != null and dto.userName != ''">
             and user_name = #{dto.userName}
        </if>
        <if test="dto.startTime != null and dto.endTime != null">
            and count_date BETWEEN #{dto.startTime}
            AND #{dto.endTime}
        </if>
        <if test="dto.isFristCharge != null and dto.isFristCharge != ''">
            <if test="dto.isFristCharge == dto.isNFristCharge" >
                and first_recharge_amount is null
            </if>
            <if test="dto.isFristCharge == dto.isYFristCharge" >
               and first_recharge_amount is not null
            </if>
        </if>
        <if test="dto.isFristWithdraw != null and dto.isFristWithdraw != ''">
            <if test="dto.isFristWithdraw == dto.isNFristWithdraw" >
                and first_withdraw_amount is null
            </if>
            <if test="dto.isFristWithdraw == dto.isYFristWithdraw" >
                and first_withdraw_amount is not null
            </if>
        </if>
      GROUP BY
        user_name
    </select>


    <select id="findSumMemberDayReport" resultType="map">
        SELECT
            ifnull(sum( recharge_count ),0) sumRechargeCount,
            ifnull(sum( recharge_amount ),0) sumRechargeAmount,
            ifnull(sum( first_recharge_amount ),0) sumFirstRechargeAmount,
            ifnull(sum( discount_amount ),0) sumDiscountAmount,
            ifnull(sum( jackpot_amount ),0) sumJackpotAmount,
            ifnull(sum( withdraw_count ),0) sumWithdrawCount,
            ifnull(sum( withdraw_amount ),0) sumWithdrawAmount,
            ifnull(sum( first_withdraw_amount ),0) sumFirstWithdrawAmount,
            ifnull(sum( fee_amount ),0) sumFeeAmount,
            ifnull(sum( bet_amount ),0) sumBetAmount,
            ifnull(sum( valid_amount ),0) sumValidAmount,
            ifnull(sum( win_amount ),0) sumWinAmount,
            ifnull(sum( water_amount ),0) sumWaterAmount
        FROM
          member_day_report
        WHERE 1= 1
        <if test="userName != null and userName != ''">
            and user_name = #{userName}
        </if>
        <if test="startTime != null and endTime != null">
           and  count_date BETWEEN #{startTime}
            AND #{endTime}
        </if>
        <if test="isFristCharge != null and isFristCharge != ''">
            <if test="isFristCharge == isNFristCharge" >
                and first_recharge_amount is null
            </if>
            <if test="isFristCharge == isYFristCharge" >
                and first_recharge_amount is not null
            </if>
        </if>
        <if test="isFristWithdraw != null and isFristWithdraw != ''">
            <if test="isFristWithdraw == isNFristWithdraw" >
                and first_withdraw_amount is null
            </if>
            <if test="isFristWithdraw == isYFristWithdraw" >
                and first_withdraw_amount is not null
            </if>
        </if>
    </select>



    <resultMap id="memberRwReport" type="com.gameplat.admin.model.vo.MemberRWReportVo">
        <result column="account" property="userName"/>
        <result column="bank_count" property="bankCount"/>
        <result column="bank_money" property="bankMoney"/>
        <result column="online_count" property="onlineCount"/>
        <result column="online_money" property="onlineMoney"/>
        <result column="hand_rech_count" property="handRechCount"/>
        <result column="hand_rech_money" property="handRechMoney"/>
        <result column="first_rech_money" property="firstRechMoney"/>
        <result column="rech_discount" property="rechDiscount"/>
        <result column="other_discount" property="otherDiscount"/>
        <result column="withdraw_count" property="withdrawCount"/>
        <result column="withdraw_money" property="withdrawMoney"/>
        <result column="hand_withdraw_count" property="handWithdrawCount"/>
        <result column="hand_withdraw_money" property="handWithdrawMoney"/>
        <result column="first_withdraw_money" property="firstWithdrawMoney"/>
        <result column="counter_fee" property="counterFee"/>
        <result column="totail_recharge_amount" property="totailRechargeAmount"/>
        <result column="totail_discout_amount" property="totailDiscoutAmount"/>
        <result column="totail_withdraw_amount" property="totailWithdrawAmount"/>
        <result column="total_rw_amount" property="totalRWAmount"/>
    </resultMap>


    <sql id="memberRwReportSql">
        account,
        bank_count,
        bank_money,
        online_count,
        online_money,
        hand_rech_count,
        hand_rech_money,
        first_rech_money,
        rech_discount,
        other_discount,
        withdraw_count,
        withdraw_money,
        hand_withdraw_count,
        hand_withdraw_money,
        first_withdraw_money,
        counter_fee,
        totail_recharge_amount,
        totail_discout_amount,
        totail_withdraw_amount,
        total_rw_amount
    </sql>


    <select id="findMemberRWReport" resultMap="memberRwReport">
      select
        account,
        sum(bank_count) bank_count,
        sum(bank_money) bank_money,
        sum(online_count) online_count,
        sum(online_money) online_money,
        sum(hand_rech_count) hand_rech_count,
        sum(hand_rech_money) hand_rech_money,
        sum(first_rech_money) first_rech_money,
        sum(rech_discount) rech_discount,
        sum(other_discount) other_discount,
        sum(withdraw_count) withdraw_count,
        sum(withdraw_money) withdraw_money,
        sum(hand_withdraw_count) hand_withdraw_count,
        sum(hand_withdraw_money) hand_withdraw_money,
        sum(first_withdraw_money) first_withdraw_money,
        sum(counter_fee) counter_fee,
        (bank_money+ online_money +hand_rech_money)  totail_recharge_amount,
        (rech_discount + other_discount) totail_discout_amount,
        (withdraw_money+ hand_withdraw_money) totail_withdraw_amount,
        ((bank_money+ online_money +hand_rech_money) - (withdraw_money+ hand_withdraw_money))   total_rw_amount
      from member_rw_report
      where  stat_time BETWEEN #{dto.startTime} and #{dto.endTime}
        <if test="dto.username != null and dto.username != ''">
            and account = #{dto.username}
        </if>
        <if test="dto.isFristCharge != null and dto.isFristCharge != ''">
            <if test="dto.isFristCharge == dto.isYFristCharge">
                and first_rech_money > 0
            </if>
        </if>
        <if test="dto.startRNum != null and dto.endRNum != null">
            and ((bank_count BETWEEN #{dto.startRNum} and #{dto.endRNum}) or (online_count BETWEEN #{dto.startRNum} and #{dto.endRNum})  or (hand_rech_count BETWEEN #{dto.startRNum} and #{dto.endRNum}))
        </if>
        <if test="dto.startRAmount != null and dto.endRAmount != null">
            and ((bank_money BETWEEN #{dto.startRAmount} and #{dto.endRAmount}) or (online_money BETWEEN #{dto.startRAmount} and #{dto.endRAmount})  or (hand_rech_money BETWEEN #{dto.startRAmount} and #{dto.endRAmount}))
        </if>
        <if test="dto.startWNum != null and dto.endWNum != null">
            and ((withdraw_count BETWEEN #{dto.startWNum} and #{dto.endWNum}) or (hand_withdraw_count BETWEEN #{dto.startWNum} and #{dto.endWNum}))
        </if>
        <if test="dto.startWAmount != null and dto.endWAmount != null">
            and ((withdraw_money BETWEEN #{dto.startWAmount} and #{dto.endWAmount}) or (hand_withdraw_money BETWEEN #{dto.startWAmount} and #{dto.endWAmount}))
        </if>
        group by account
    </select>


    <select id="findSumMemberRWReport" resultType="map">
        select
        sum(ifnull(bank_count,0)) bankCount,
        sum(ifnull(bank_money,0)) bankMoney,
        sum(ifnull(online_count,0)) onlineCount,
        sum(ifnull(online_money,0)) onlineMoney,
        sum(ifnull(hand_rech_count,0)) handRechCount,
        sum(ifnull(hand_rech_money,0)) handRechMoney,
        sum(ifnull(first_rech_money,0)) firstRechMoney,
        sum(ifnull(rech_discount,0)) rechDiscount,
        sum(ifnull(other_discount,0)) otherDiscount,
        sum(ifnull(withdraw_count,0)) withdrawCount,
        sum(ifnull(withdraw_money,0)) withdrawMoney,
        sum(ifnull(hand_withdraw_count,0)) handWithdrawCount,
        sum(ifnull(hand_withdraw_money,0)) handWithdrawMoney,
        sum(ifnull(first_withdraw_money,0)) firstWithdrawMoney,
        sum(ifnull(counter_fee,0)) counterFee,
        sum(ifnull(bank_money,0)+ ifnull(online_money,0) +ifnull(hand_rech_money,0))  totailRechargeAmount,
        sum(ifnull(rech_discount,0) + ifnull(other_discount,0)) totailDiscoutAmount,
        sum(ifnull(withdraw_money,0)+ ifnull(hand_withdraw_money,0)) totailWithdrawAmount
        from member_rw_report
        where  stat_time BETWEEN #{startTime} and #{endTime}
        <if test="username != null and username != ''">
            and account = #{username}
        </if>
        <if test="isFristCharge != null and isFristCharge != ''">
            <if test="isFristCharge == isYFristCharge">
                and first_rech_money > 0
            </if>
        </if>
        <if test="startRNum != null and endRNum != null">
            and ((bank_count BETWEEN #{startRNum} and #{endRNum}) or (online_count BETWEEN #{startRNum} and #{endRNum})  or (hand_rech_count BETWEEN #{startRNum} and #{endRNum}))
        </if>
        <if test="startRAmount != null and endRAmount != null">
            and ((bank_money BETWEEN #{startRAmount} and #{endRAmount}) or (online_money BETWEEN #{startRAmount} and #{endRAmount})  or (hand_rech_money BETWEEN #{startRAmount} and #{endRAmount}))
        </if>
        <if test="startWNum != null and endWNum != null">
            and ((withdraw_count BETWEEN #{startWNum} and #{endWNum}) or (hand_withdraw_count BETWEEN #{startWNum} and #{endWNum}))
        </if>
        <if test="startWAmount != null and endWAmount != null">
            and ((withdraw_money BETWEEN #{startWAmount} and #{endWAmount}) or (hand_withdraw_money BETWEEN #{startWAmount} and #{endWAmount}))
        </if>

    </select>

</mapper>
