<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameplat.admin.mapper.MemberWithdrawHistoryMapper">


   <select id="findIp" parameterType="com.gameplat.admin.model.dto.QueryIpStatReportDTO" resultType="com.gameplat.admin.model.vo.IpStatisticsVO">
       select
               ip_address as loginIp,
               count(1) as frequency
       from  member_withdraw_history
       where 1=1
       <if test="ip != null">
          and ip_address = #{ip}
       </if>
       <if test="beginDate != null and beginDate != ''">
           and date_format(create_time,'%y%m%d') <![CDATA[ >= ]]> date_format(#{beginDate},'%y%m%d')
       </if>
       <if test="endDate != null and endDate != ''">
           and date_format(create_time,'%y%m%d') <![CDATA[ <= ]]> date_format(#{endDate},'%y%m%d')
       </if>
       group by ip_address
       <if test="count != null and count != ''">
           having count(1) >= #{count}
       </if>
       ORDER BY create_Time desc
   </select>

    <!--    提现IP分析  -->
    <select id="page" parameterType="com.gameplat.admin.model.dto.IpAnalysisDTO" resultType="com.gameplat.admin.model.vo.IpAnalysisVO">
        SELECT
        distinct member_id as memberId,
        account,
        real_name as fullName,
        ip_address as loginAddress,
        (select count(distinct member_id,  COALESCE(ip_address,'null')) from member_withdraw_history where 1=1 and ip_address = loginAddress) as ipCount,
        account_money money
        from recharge_order_history
        WHERE 1 = 1
        <if test="account != null"> and account = #{account}</if>
        <if test="loginIp != null"> and ip_address = #{loginIp}</if>
        <if test="beginTime != null and beginTime != ''">
            and date_format(create_time,'%y%m%d') <![CDATA[ >= ]]> date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''">
            and date_format(create_time,'%y%m%d') <![CDATA[ <= ]]> date_format(#{endTime},'%y%m%d')
        </if>
        group by member_id, ip_address
        order by member_id desc, create_time desc
    </select>
</mapper>
