<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameplat.admin.mapper.RechargeOrderMapper">

    <!--获取充值金额达标的会员账号-->
    <select id="getSatisfyRechargeAccount" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
        t.account
        FROM
        (
        SELECT
        account,
        sum( amount ) rechargeMoney
        FROM recharge_order
        <where>
            AND status = 3
            <if test="startTime != null and startTime != ''">
                AND create_time &gt;= #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND create_time &lt;= #{endTime}
            </if>
        </where>
        GROUP BY member_id, account ) t
        WHERE rechargeMoney >= #{minRechargeAmount}
    </select>

    <select id="findRechargeInfo" resultType="com.gameplat.admin.model.bean.ActivityStatisticItem">
        SELECT
        a.member_id as userId,
        a.account as userName,
        a.accumulativeRechargeAmount
        <if test="rechargeValidAmount != null">
            ,SUM(IFNULL( b.num, 0 )) AS accumulativeRechargeNum
        </if>
        FROM(
        SELECT member_id, account, SUM(amount) accumulativeRechargeAmount
        FROM recharge_order
        <where>
            <if test="payType != null and payType != ''">
                AND mode IN (${payType})
            </if>
            <if test="startTime != null and startTime != ''">
                AND add_time <![CDATA[>= ]]> #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND add_time <![CDATA[<= ]]> #{endTime}
            </if>
            AND status = 3
        </where>
        GROUP BY member_id ) a
        <if test="rechargeValidAmount != null">
            LEFT JOIN ( SELECT member_id, CASE WHEN SUM( amount ) >= #{rechargeValidAmount} THEN 1 ELSE 0 END num
            FROM recharge_order
            <where>
                <if test="payType != null and payType != ''">
                    AND mode IN (${payType})
                </if>
                <if test="startTime != null and startTime != ''">
                    AND recharge_time <![CDATA[>= ]]> #{startTime}
                </if>
                <if test="endTime != null and endTime != ''">
                    AND recharge_time <![CDATA[<= ]]> #{endTime}
                </if>
                AND status = 3
            </where>
            GROUP BY member_id, date_format( recharge_time, '%Y-%m-%d' )) b ON a.member_id = b.member_id
        </if>
        <where>
            <if test="userIdList != null and userIdList.size > 0">
                AND a.member_id IN
                <foreach collection="userIdList" index="index" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="userNameList != null and userNameList.size > 0">
                AND a.account IN
                <foreach collection="userNameList" index="index" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
        GROUP BY a.member_id
    </select>

    <select id="findRechargeDateList" resultType="com.gameplat.admin.model.bean.ActivityStatisticItem">
        SELECT
        member_id userId,
        account userName,
        GROUP_CONCAT(DISTINCT(recharge_time)) AS rechargeTimes
        FROM (SELECT
        member_id,
        account,
        date_format( recharge_time, '%Y-%m-%d') AS recharge_time,
        SUM(amount) AS totalAmount
        FROM recharge_order
        <where>
            AND status = 3
            <if test="userIdList != null and userIdList.size > 0">
                AND member_id IN
                <foreach collection="userIdList" index="index" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="userNameList != null and userNameList.size > 0">
                AND account IN
                <foreach collection="userNameList" index="index" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="payType != null and payType != ''">
                AND mode IN (${payType})
            </if>
            <if test="startTime != null and startTime != ''">
                AND recharge_time <![CDATA[>= ]]> #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND recharge_time <![CDATA[<= ]]> #{endTime}
            </if>
        </where>
        GROUP BY member_id, recharge_time) AS a
        WHERE
        totalAmount >= #{rechargeValidAmount}
        GROUP BY a.member_id
    </select>

    <select id="findFirstRechargeAmount" resultType="com.gameplat.admin.model.bean.ActivityStatisticItem">
        SELECT
        member_id userId,
        account userName,
        DATE_FORMAT(recharge_time,'%Y-%m-%d') AS rechargeTime,
        amount AS firstRechargeAmount
        FROM recharge_order
        <where>
            AND status = 3
            <if test="userIdList != null and userIdList.size > 0">
                AND member_id IN
                <foreach collection="userIdList" index="index" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="userNameList != null and userNameList.size > 0">
                AND account IN
                <foreach collection="userNameList" index="index" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
            <if test="payType != null and payType != ''">
                AND mode IN (${payType})
            </if>
            <if test="startTime != null and startTime != ''">
                AND recharge_time <![CDATA[>= ]]> #{startTime}
            </if>
            <if test="endTime != null and endTime != ''">
                AND recharge_time <![CDATA[<= ]]> #{endTime}
            </if>
        </where>
        GROUP BY member_id
        ORDER BY recharge_time,id
    </select>
</mapper>
