<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameplat.admin.mapper.RechargeOrderHistoryMapper">


    <select id="findPage" resultType="com.gameplat.admin.model.vo.RechargeOrderHistoryVO">
        select
        r.id,
        r.fk,
        r.sys_user_id,
        r.member_id,
        r.account,
        r.nickname,
        r.member_level,
        r.balance,
        r.super_id,
        r.super_account,
        r.super_path,
        r.mode,
        r.order_no,
        r.pay_type,
        r.pay_type_name,
        r.pay_account_id,
        r.pay_account_account,
        r.pay_account_owner,
        r.pay_account_bank_name,
        r.tp_interface_code,
        r.tp_interface_name,
        r.tp_merchant_id,
        r.tp_merchant_name,
        r.tp_pay_channel_id,
        r.tp_pay_channel_name,
        r.tp_order_no,
        r.amount,
        r.pay_amount,
        r.discount_amount,
        r.discount_recharge_flag,
        r.discount_type,
        r.total_amount,
        r.point_flag,
        r.dml_flag,
        r.normal_dml,
        r.discount_dml,
        r.recharge_person,
        r.recharge_time,
        r.status,
        r.remarks,
        r.accept_account,
        r.accept_time,
        r.auditor_account,
        r.audit_time,
        r.audit_remarks,
        r.browser,
        r.os,
        r.ip_address,
        r.user_agent,
        r.domain,
        r.sub_pay_type,
        r.member_type,
        r.currency_rate,
        r.currency_count,
        r.currency_trance_id,
        r.order_expire_time,
        r.create_by,
        r.create_time,
        r.update_by,
        r.update_time,
        r.currency
        m.remark as userRemark
        from recharge_order_history as r
        left join member as m
        on r.member_id = m.id
        ${ew.customSqlSegment}
    </select>

    <select id="findIp" parameterType="com.gameplat.admin.model.dto.QueryIpStatReportDTO"
            resultType="com.gameplat.admin.model.vo.IpStatisticsVO">
        select
        ip_address as loginIp,
        count(1) as frequency
        from recharge_order_history
        where 1=1
        <if test="ip != null">
            and ip_address = #{ip}
        </if>
        <if test="beginDate != null and beginDate != ''">
            and date_format(create_time,'%y%m%d') <![CDATA[ >= ]]> date_format(#{beginDate},'%y%m%d')
        </if>
        <if test="endDate != null and endDate != ''">
            and date_format(create_time,'%y%m%d') <![CDATA[ <= ]]> date_format(#{endDate},'%y%m%d')
        </if>
        group by ip_address
        <if test="count != null and count != ''">
            having count(1) >= #{count}
        </if>
        ORDER BY create_Time desc
    </select>

    <!--   充值IP分析  -->
    <select id="page" parameterType="com.gameplat.admin.model.dto.IpAnalysisDTO"
            resultType="com.gameplat.admin.model.vo.IpAnalysisVO">
        SELECT
        distinct member_id as memberId,
        account,
        nickname fullName,
        ip_address as ipAddress,
        balance money,
        (select count(COALESCE(ip_address,'null')) from recharge_order_history where 1=1 and ip_address = ipAddress)
        ipCount
        from recharge_order_history
        WHERE 1 = 1
        <if test="dto.account != null">and account = #{dto.account}</if>
        <if test="dto.loginIp != null">and ip_address = #{dto.loginIp}</if>
        <if test="dto.beginTime != null and dto.beginTime != ''">
            and date_format(create_time,'%y%m%d') <![CDATA[ >= ]]> date_format(#{dto.beginTime},'%y%m%d')
        </if>
        <if test="dto.endTime != null and dto.endTime != ''">
            and date_format(create_time,'%y%m%d') <![CDATA[ <= ]]> date_format(#{dto.endTime},'%y%m%d')
        </if>
        group by member_id, ip_address
        order by member_id desc, create_time desc
    </select>
</mapper>
