<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameplat.admin.mapper.SpreadUnionPackageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.gameplat.admin.model.domain.SpreadUnionPackage">
        <id column="id" property="id"/>
        <result column="union_id" property="unionId"/>
        <result column="union_packageId" property="unionPackageId"/>
        <result column="union_package_name" property="unionPackageName"/>
        <result column="union_platform" property="unionPlatform"/>
        <result column="promotion_domain" property="promotionDomain"/>
        <result column="ios_download_url" property="iosDownloadUrl"/>
        <result column="app_download_url" property="appDownloadUrl"/>
        <result column="union_status" property="unionStatus"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_by" property="updateBy"/>
    </resultMap>


    <select id="getUnionPackage" resultType="com.gameplat.admin.model.vo.SpreadUnionPackageVO">
     SELECT
      su.union_name unionName,
      su.agent_account agentAccount,
      su.channel,
      su.id unionId,
      sup.id,
      sup.union_package_id unionPackageId,
      sup.union_package_name unionPackageName,
      sup.union_platform unionPlatform,
      sup.union_status unionStatus,
      sup.promotion_domain promotionDomain,
      sup.ios_download_url iosDownloadUrl,
      sup.app_download_url appDownloadUrl,
      sup.create_time createTime,
      sup.create_by createBy,
      sup.update_by updateBy,
      sup.update_time updateTime
	 FROM
        spread_union_package sup
     INNER JOIN spread_union su ON sup.union_id = su.id
     <where>
     1=1
         <if test="unionName != null and unionName != ''">AND su.union_name = #{unionName}</if>
         <if test="channel != null and channel !=  ''"> AND su.channel = #{channel}</if>
         <if test="agentAccount != null and agentAccount !=  ''"> AND su.agent_account = #{agentAccount}</if>
     </where>

    </select>

</mapper>
