<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameplat.admin.mapper.SysFloatTypeMapper">

    <resultMap type="com.gameplat.admin.model.vo.SysFloatTypeVo" id="SysFloatTypeResult">
        <result property="id"    column="id"    />
        <result property="tenant"    column="tenant"    />
        <result property="osType"    column="os_type"    />
        <result property="floatType"    column="float_type"    />
        <result property="floatName"    column="float_name"    />
        <result property="whetherOpen"    column="whether_open"    />
        <result property="canClose"    column="can_close"    />
        <result property="showPosition"    column="show_position"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="terminal"    column="terminal"    />
    </resultMap>

    <resultMap type="com.gameplat.admin.model.vo.SysFloatTypeVo" id="SysFloatTypeVo" extends="SysFloatTypeResult">
        <collection property="settingList" resultMap="SysFloatSetting"></collection>
    </resultMap>

    <resultMap type="com.gameplat.admin.model.vo.SysFloatSettingVo" id="SysFloatSetting">
        <result property="id"    column="setting_id"    />
        <result property="typeId"    column="type_id"    />
        <result property="floatIndex"    column="float_index"    />
        <result property="whetherOpen"    column="setting_whether_open"    />
        <result property="canDrag"    column="can_drag"    />
        <result property="jumpUrl"    column="jump_url"    />
        <result property="iconPath"    column="icon_path"    />
        <result property="createTime"    column="create_time_float"    />
        <result property="updateTime"    column="update_time_float"    />
        <result property="terminal"    column="terminal"    />
    </resultMap>

    <select id="selectSysFloatTypeList" parameterType="com.gameplat.admin.model.vo.SysFloatTypeVo" resultMap="SysFloatTypeVo">
        SELECT
        sft.id,
        sft.tenant,
        sft.os_type,
        sft.float_type,
        sft.float_name,
        sft.whether_open,
        sft.can_close,
        sft.show_position,
        sft.create_time,
        sft.update_time,
        sfs.id as setting_id,
        sfs.type_id,
        sfs.float_index,
        sfs.jump_url,
        sfs.create_time as create_time_float,
        sfs.update_time as update_time_float,
        sfs.whether_open as setting_whether_open,
        sfs.can_drag,
        sfs.icon_path,
        sfs.terminal
        FROM
        sys_float_type sft
        LEFT JOIN sys_float_setting sfs ON sft.id = sfs.type_id
        <where>
            <if test='osType != null  and osType != ""'> and sft.os_type = #{osType}</if>
            <if test='floatType != null  and floatType != ""'> and sft.float_type = #{floatType}</if>
            <if test="whetherOpen != null "> and sft.whether_open = #{whetherOpen}</if>
            <if test="canClose != null "> and sft.can_close = #{canClose}</if>
        </where>
        order by  sft.float_index ASC,sfs.float_index ASC
    </select>

    <insert id="insertSysFloatSetting" parameterType="com.gameplat.model.entity.setting.SysFloatSetting">
        INSERT INTO `sys_float_setting` (`type_id`, `float_index`, `whether_open`, `can_drag`,
                                                            `jump_url`, `icon_path`,`terminal`, `create_time`, `update_time`)
        VALUES (#{typeId}, #{floatIndex},#{whetherOpen},#{canDrag}, #{jumpUrl}, #{iconPath},#{terminal},
                now(), now());
    </insert>

    <update id="updateSysFloat">
        update sys_float_setting
        <trim prefix="SET" suffixOverrides=",">
            <if test="floatIndex != null ">float_index = #{floatIndex},</if>
            <if test="whetherOpen != null ">whether_open = #{whetherOpen},</if>
            <if test="canDrag != null ">can_drag = #{canDrag},</if>
            <if test='jumpUrl != null  and jumpUrl != ""'>jump_url = #{jumpUrl},</if>
            <if test="updateTime != null ">update_time = now(),</if>
            <if test='terminal != null  and terminal != ""'>terminal = #{terminal},</if>
            icon_path = #{iconPath},
        </trim>
        where id = #{id}
    </update>

    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            update sys_float_setting
            <set>
                <if test="item.floatIndex != null">float_index = #{item.floatIndex},</if>
                update_time = sysdate()
            </set>
            where id = #{item.id}
        </foreach>
    </update>

    <update id="updateShowPosition">
        update sys_float_type
        SET show_position = #{showPosition}
        where os_type = 'mobile'
    </update>
</mapper>
