<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameplat.admin.mapper.TenantSettingMapper">

    <resultMap type="com.gameplat.model.entity.setting.TenantSetting" id="sysTenantSettingResult">
        <result property="id" column="id"/>
        <result property="settingType" column="setting_type"/>
        <result property="settingCode" column="setting_code"/>
        <result property="settingValue" column="setting_value"/>
        <result property="settingDesc" column="setting_desc"/>
        <result property="display" column="display"/>
        <result property="sort" column="sort"/>
        <result property="filePath" column="file_path"/>
        <result property="picturePath" column="picture_path"/>
        <result property="isIndex" column="is_index"/>
        <result property="settingLabel" column="setting_label"/>
        <result property="extend1" column="extend_1"/>
        <result property="extend2" column="extend_2"/>
        <result property="extend3" column="extend_3"/>
        <result property="extend4" column="extend_4"/>
        <result property="extend5" column="extend_5"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap type="com.gameplat.admin.model.vo.TenantSettingVO" id="sysTenantSetting1Result" extends="sysTenantSettingResult">
        <result property="zhCn" column="zhCn"/>
        <result property="inId" column="inId"/>
        <result property="enUs" column="enUs"/>
        <result property="viVn" column="viVn"/>
        <result property="thTh" column="thTh"/>
    </resultMap>

    <resultMap id="gameListOneCollection" type="com.gameplat.admin.model.vo.GameListOneVO">
        <result property="liveCode" column="liveCode"/>
        <result property="walletCode" column="walletCode"/>
        <result property="gameCode" column="gameCode"/>
        <result property="firstCode" column="firstCode"/>
        <result property="trial" column="trial"/>
    </resultMap>

    <!--初使化租户对应主题的导航栏-->
    <insert id="initTenantNavigation" parameterType="int">
        insert into tenant_setting(setting_type, setting_code, setting_label, setting_value, setting_desc, display, sort, file_path, picture_path, is_index, extend_1, extend_2, extend_3, extend_4, extend_5, create_time)
        select setting_type, setting_code, setting_label, setting_value, setting_desc, display, sort, file_path, picture_path, is_index, extend_1, extend_2, extend_3, #{theme}, extend_5, create_time from tenant_setting t
        where t.setting_type = #{settingType} and t.extend_4 = 'template'
          and not exists(select null from tenant_setting where setting_type = t.setting_type and setting_code = t.setting_code and extend_4 = t.extend_4)
    </insert>

    <select id="getBackendAppNavigationList" parameterType="com.gameplat.admin.model.vo.TenantSettingVO"
            resultMap="sysTenantSetting1Result">
        select `id`,
        `setting_type`,
        `setting_code`,
        `setting_label`,
        JSON_UNQUOTE(json_extract(setting_value, '$."zh-CN"')) as zhCn,
        JSON_UNQUOTE(json_extract(setting_value, '$."en-US"')) as enUs,
        JSON_UNQUOTE(json_extract(setting_value, '$."th-TH"')) as thTh,
        JSON_UNQUOTE(json_extract(setting_value, '$."vi-VN"')) as viVn,
        JSON_UNQUOTE(json_extract(setting_value, '$."in-ID"')) as inId,
        `setting_desc`,
        `display`,
        `sort`,
        `file_path`,
        `picture_path`,
        `is_index`,
        `extend_1`,
        `extend_2`,
        `extend_3`,
        `extend_4`,
        `extend_5`,
        `create_by`,
        `create_time`,
        `update_by`,
        `update_time`
        from tenant_setting
        <where>
            <if test='tenantSetting.settingType != null and tenantSetting.settingType != ""'>
            and setting_type = #{sysTenantSetting.settingType}
            </if>
            <if test='tenantSetting.tenant != null and tenantSetting.tenant != ""'>
            and tenant = #{sysTenantSetting.tenant}
            </if>
            <if test='tenantSetting.extend4 != null and tenantSetting.extend4 != ""'>
            and extend_4 = #{sysTenantSetting.extend4}
            </if>
            <if test="tenantSetting.display != null ">
            and display = #{sysTenantSetting.display}
            </if>
        </where>
        order by sort ASC
    </select>

    <select id="getGameList" resultMap="gameListOneCollection">
        select glo.code        as firstCode,
               gp.code         as liveCode,
               glo.wallet_code as walletCode,
               glo.game_code   as gameCode,
               glo.trial       as trial
        from game_level_one as glo left join game_plat as gp on glo.plat_id = gp.id
            and glo.is_show = 1
            and glo.tepl_is_show = 1
        WHERE glo.code = #{oneCode}
    </select>

    <update id="updateIndex">
        update tenant_setting
        <set>
            <if test="isIndex != null">is_index = #{isIndex},</if>
        </set>
        where setting_type = #{settingType}
    </update>

</mapper>
