<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gameplat.admin.mapper.TenantSettingMapper">

    <resultMap type="com.gameplat.model.entity.setting.TenantSetting" id="sysTenantSettingResult">
        <result property="id" column="id"/>
        <result property="settingType" column="setting_type"/>
        <result property="settingCode" column="setting_code"/>
        <result property="settingValue" column="setting_value"/>
        <result property="settingDesc" column="setting_desc"/>
        <result property="display" column="display"/>
        <result property="sort" column="sort"/>
        <result property="filePath" column="file_path"/>
        <result property="picturePath" column="picture_path"/>
        <result property="isIndex" column="is_index"/>
        <result property="settingLabel" column="setting_label"/>
        <result property="extend1" column="extend_1"/>
        <result property="extend2" column="extend_2"/>
        <result property="extend3" column="extend_3"/>
        <result property="extend4" column="extend_4"/>
        <result property="extend5" column="extend_5"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <resultMap type="com.gameplat.admin.model.vo.TenantSettingVO" id="sysTenantSetting1Result" extends="sysTenantSettingResult">
        <result property="zhCn" column="zhCn"/>
        <result property="inId" column="inId"/>
        <result property="enUs" column="enUs"/>
        <result property="viVn" column="viVn"/>
        <result property="thTh" column="thTh"/>
    </resultMap>

    <resultMap id="gameListOneCollection" type="com.gameplat.admin.model.vo.GameKindVO">
        <result property="code" column="code"/>
        <result property="platformCode" column="platformCode"/>
        <result property="demoEnable" column="demoEnable"/>
        <result property="enable" column="enable"/>
        <result property="gameType" column="gameType"/>
        <result property="enable" column="enable"/>
    </resultMap>

    <!--初使化租户对应主题的导航栏-->
    <insert id="initTenantNavigation" parameterType="int">
        insert into tenant_setting(setting_type, setting_code, setting_label, setting_value, setting_desc, display, sort, file_path, picture_path, is_index, extend_1, extend_2, extend_3, extend_4, extend_5, create_time)
        select setting_type, setting_code, setting_label, setting_value, setting_desc, display, sort, file_path, picture_path, is_index, extend_1, extend_2, extend_3, #{theme}, extend_5, create_time from tenant_setting t
        where t.setting_type = #{settingType} and t.extend_4 = 'template'
          and not exists(select null from tenant_setting where setting_type = t.setting_type and setting_code = t.setting_code and extend_4 = t.extend_4)
    </insert>

    <select id="getBackendAppNavigationList" parameterType="com.gameplat.admin.model.vo.TenantSettingVO"
            resultMap="sysTenantSetting1Result">
        select `id`,
        `setting_type`,
        `setting_code`,
        `setting_label`,
        JSON_UNQUOTE(json_extract(setting_value, '$."zh-CN"')) as zhCn,
        JSON_UNQUOTE(json_extract(setting_value, '$."en-US"')) as enUs,
        JSON_UNQUOTE(json_extract(setting_value, '$."th-TH"')) as thTh,
        JSON_UNQUOTE(json_extract(setting_value, '$."vi-VN"')) as viVn,
        JSON_UNQUOTE(json_extract(setting_value, '$."in-ID"')) as inId,
        `setting_desc`,
        `display`,
        `sort`,
        `file_path`,
        `picture_path`,
        `is_index`,
        `extend_1`,
        `extend_2`,
        `extend_3`,
        `extend_4`,
        `extend_5`,
        `create_by`,
        `create_time`,
        `update_by`,
        `update_time`
        from tenant_setting
        <where>
            <if test='settingType != null and settingType != ""'>
            and setting_type = #{settingType}
            </if>
            <if test='tenant != null and tenant != ""'>
            and tenant = #{tenant}
            </if>
            <if test='extend4 != null and extend4 != ""'>
            and extend_4 = #{extend4}
            </if>
            <if test="display != null ">
            and display = #{display}
            </if>
        </where>
        order by sort ASC
    </select>

    <select id="getGameList" resultMap="gameListOneCollection">
        select gk.code            as code,
               gk.game_type       as gameType,
               gk.platform_code   as platfromCode,
               gk.demo_enable     as demoEnable
        from game_kind as gk
        WHERE  gk.enable = 1 and gk.code = #{oneCode}
    </select>

    <update id="updateIndex">
        update tenant_setting
        <set>
            <if test="isIndex != null">is_index = #{isIndex},</if>
        </set>
        where setting_type = #{settingType}
    </update>

    <!--插入配置信息-->
    <insert id="insetGameList" parameterType="java.util.List">
        INSERT INTO tenant_setting (
        `tenant`, `setting_type`, `setting_code`, `setting_label`, `setting_value`, `setting_desc`, `display`,
        `sort`, `file_path`, `picture_path`, `is_index`, `extend_1`, `extend_2`, `extend_3`, `extend_4`,`extend_5`,
        `update_time`
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.tenant},
            #{item.settingType},
            #{item.settingCode},
            #{item.settingLabel},
            #{item.settingValue},
            #{item.settingDesc},
            #{item.display},
            #{item.sort},
            #{item.filePath},
            #{item.picturePath},
            #{item.isIndex},
            #{item.extend1},
            #{item.extend2},
            #{item.extend3},
            #{item.extend4},
            #{item.extend5},
            sysdate()
            )
        </foreach>
    </insert>

    <insert id="initSportConfig" parameterType="com.gameplat.model.entity.setting.TenantSetting">
        INSERT INTO `tenant_setting`(`tenant`,
                                         `setting_type`,
                                         `setting_code`,
                                         `setting_value`,
                                         `setting_label`,
                                         `create_by`,
                                         `create_time`)
        VALUES ('default',
                #{settingType},
                #{settingCode},
                #{settingValue},
                #{settingLabel},
                #{createBy},
                SYSDATE())
    </insert>

    <!--查询体育配置-->
    <select id="getSportConfig" parameterType="com.gameplat.model.entity.setting.TenantSetting"
            resultMap="sysTenantSettingResult">
        select `id`,
               `setting_type`,
               `setting_code`,
               `setting_label`,
               `setting_desc`,
               `setting_value`,
               `display`,
               `sort`,
               `file_path`,
               `picture_path`,
               `is_index`,
               `extend_1`,
               `extend_2`,
               `create_by`,
               `create_time`,
               `update_by`,
               `update_time`
        from tenant_setting
        where setting_type = 'sport_config' limit 1;
    </select>

    <update id="updateListSortConfig" parameterType="com.gameplat.model.entity.setting.TenantSetting">
        update tenant_setting
        <set>
            <if test='settingValue != null and settingValue != ""'>setting_value = #{settingValue},</if>
        </set>
        where setting_type = 'sport_config' and setting_code = 'listSort'
    </update>

    <!--多条件查询租户设置列表-->
    <select id="getTenantSetting" parameterType="com.gameplat.model.entity.setting.TenantSetting" resultMap="sysTenantSettingResult">
        select * from tenant_setting
        <where>
            <if test='settingType != null and settingType != ""'>
                and setting_type = #{settingType}
            </if>
            <if test='settingCode != null and settingCode != ""'>
                and setting_code = #{settingCode}
            </if>
            <if test='tenant != null and tenant != ""'>
                and tenant = #{tenant}
            </if>
            <if test='extend4 != null and extend4 != ""'>
                and extend_4 = #{extend4}
            </if>
            <if test="display != null">
                and display = #{display}
            </if>
            <if test="id != null">
                and id = #{id}
            </if>
        </where>
        order by sort ASC
    </select>

</mapper>
